@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&family=Montserrat:ital');

.hero-section {
    width: 100%;
    height: 946px;
    background: url("../../images/bgImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    position: relative;
    width: 100%;
    height: 96px;
}

.headerbg {
    position: absolute;
    top: 0;
    width: 100%;
}

/* navbar */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 37px;
    color: #FFFFFF;
    padding-left: 155px;
    width: 118px;
}

.menu-items {
    display: block;
    margin: auto;
}

.menu-items ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.menu-items ul li {
    text-decoration: none;
    margin: 0 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}

.menubar {
    color: white;
    font-size: 25px;
    margin-right: 100px;
    display: none;
}

/* box */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 56px;
    height: 54px;
    left: 36px;
    top: 140px;
}

.box-text {
    left: 2.68%;
    right: 2.68%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}


/* banner title  */
.banner-content {
    margin-top: 105px;
    display: flex;
    justify-content: space-around;
}

.hero-text {
    width: 672px;
    height: 345px;
    position: relative;
    margin-left: -100px;
}


.bitcoin-logo {
    position: relative;
}

.bitcoinbg {
    position: absolute;
    right: -90px;
    top: -80px;
}

.bitcoin {
    position: absolute;
    right: 0;
}

.location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}

.banner-paragraph {
    font-family: 'Montserrat', sans-serif;
    width: 596px;
    height: 60px;
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
}


.package {
    position: absolute;
    left: 576px;
    top: 115px;
}

.package-img {
    position: relative;
}

.package-2 {
    position: absolute;
    left: 0;
    top: 20%;
}

.package-3 {
    position: absolute;
    left: 45%;
    right: 13.62%;
    top: 42%;
}

.package-4 {
    position: absolute;
    left: 20%;
    right: 31.25%;
    top: 8%;
    bottom: 60.83%;
}

/* stepper status */

.stepper-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 4px;
    height: 148px;
    left: 64px;
    top: 360px;
}

.stepper {
    position: relative;
}

.stepper-1 {
    position: absolute;
    height: 20px;
    left: 2px;
    top: 0px;
    margin: 28px 0px;
}

.stepper-2 {
    position: absolute;
    top: 48px;
    margin: 28px 0px;
}

.stepper-3 {
    position: absolute;
    top: 80px;
    margin: 28px 0px;
}

.stepper-4 {
    position: absolute;
    top: 112px;
    margin: 28px 0px;
}

.stepper-5 {
    position: absolute;
    top: 144px;
    margin: 28px 0px;
}

/* explore more button */

.explore-more-button {
    width: 165px;
    height: 60px;
    margin-left: 22px;
    margin-bottom: 27px;
}

.button {
    position: relative;
    /* margin-bottom: 20px; */
}

.button-border {
    position: absolute;
    width: 165px;
    height: 60px;
    left: 0;
    top: 0;
}

.button-text {
    position: absolute;
    left: 25px;
    top: 2px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}

/* social media icons */
.social-media {
    position: absolute;
    width: 32px;
    height: 351px;
    right: 35px;
    top: 306px;
}

.icons {
    position: relative;
    top: 2px;
    left: 2px;
}

.facebook {
    position: absolute;
    top: 2px;
}

.insta {
    position: absolute;
    top: 74px;
}

.twitter {
    position: absolute;
    top: 148px;
}

.line {
    display: block;
    margin: auto;
    margin-top: 222px;
}

/* hero waves */

.hero-waves {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave {
    width: 100%;
}


/* partner section */
.partner {
    position: absolute;
    bottom: -120px;
    width: 100%;
    height: 170px;
}

.partner-container {
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
}

.partner-box {
    width: 100%;
}

.partner-section-title {
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}

.company-logo {
    position: absolute;
    bottom: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.footer-wave {
    width: 100vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* media query - for extra small devices */

@media only screen and (max-width: 768px) {
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding-left: 0;
    }

    .banner-paragraph {
        width: 500px;
        padding-left: 150px;
        display: block;
        margin: auto;
        margin-bottom: 42px;
        font-weight: 500;
        font-size: 15px;

    }

    .banner-title {
        font-size: 35px;
        font-weight: 900;
        margin-left: 150px;
        margin-top: 70px;
    }

    .explore-more-button {
        display: block;
        margin: auto;
    }

    .bitcoin-logo {
        margin-top: 150px;
        margin-left: 450px;

    }

    .hero-section {
        min-height: 1300px;
    }

    .navbar {
        width: 100vw;
    }

    .logo {
        padding-left: 20px;
    }

    .menu-items ul li {
        margin: 0 10px;
    }

    .box {
        display: none;
    }

    .hero-waves {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

    .partner-section-title {
        font-weight: 300;
        font-size: 16px;
        top: 0;
    }

    .company-logo {
        position: absolute;
        bottom: 10px;
    }

    .companyLogo {
        width: 70%;
    }

    .menu-items ul {
        display: none;
    }

    .menubar {
        display: block;
    }

    .logo {
        padding-left: 155px;
    }
}

@media only screen and (min-width: 769px) {
    .banner-paragraph {
        width: 500px;
        padding-left: 150px;
        display: block;
        margin: auto;
        margin-bottom: 42px;
        font-weight: 500;
        font-size: 15px;


    }

    .banner-title {
        font-size: 35px;
        font-weight: 900;
        margin-left: 150px;
        margin-top: 70px;
    }

    .bitcoin-logo {
        height: 200px;
        width: 200px;
        margin-left: 0;
        margin-top: 50px;

    }

    .explore-more-button {
        display: block;
        margin: auto;
    }

    .companyLogo {
        width: 80%;
    }

    .company-logo {
        position: absolute;
        bottom: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .banner-paragraph {
        width: 596px;
        height: 60px;
        margin-bottom: 42px;
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 30px;

    }

    .banner-title {
        font-size: 35px;
        font-weight: 900;
        margin-top: 70px;
    }

    .bitcoin-logo {
        height: auto;
        width: auto;
        margin-left: 0;
        margin-top: 0;

    }

    .explore-more-button {
        width: 165px;
        height: 60px;
        margin-left: 22px;
        margin-bottom: 27px;
    }

    .companyLogo {
        width: 100%;
    }

    .company-logo {
        position: absolute;
        bottom: 36px;
    }
}