@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&family=Montserrat:ital');

.hero-section {
    width: 1462px;
    height: 946px;
    background: url("../../images/bgImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* left: 33px; */
}


.header {
    width: 1440px;
    height: 96px;
    position: relative;
}

.header-vector {
    transform: rotate(-180deg);
    width: 100%;
}

.header-vector1 {
    margin-top: 12px;
    width: 100%;
    position: absolute;
    top: 0.09%;
    bottom: 99.91%;
}

.header-vector2 {
    height: 1.14px;
    width: 100%;
    position: absolute;
    top: 0.11%;
    bottom: 99.88%;
}

.header-vector3 {
    height: 2.1px;
    position: absolute;
    top: 0.14%;
    bottom: 99.85%;
}

.header-vector4 {
    height: 3.51px;
    position: absolute;
    top: 0.16%;
    bottom: 99.81%;
}

.header-vector5 {
    height: 5.85px;
    position: absolute;
    top: 0.19%;
    bottom: 99.77%;
}

.header-vector6 {
    height: 8.42px;
    position: absolute;
    top: 0.22%;
    bottom: 99.72%;
}

.header-vector7 {
    height: 11.54px;
    position: absolute;
    top: 0.25%;
    bottom: 99.67%;
}

.header-vector8 {
    height: 14.81px;
    position: absolute;
    top: 0.28%;
    bottom: 99.62%;
}

.header-vector9 {
    height: 18.1px;
    position: absolute;
    top: 0.31%;
    bottom: 99.56%;
}

.header-vector10 {
    height: 21.23px;
    position: absolute;
    top: 0.33%;
    bottom: 99.51%;
}

.header-vector11 {
    height: 24.33px;
    position: absolute;
    top: 0.36%;
    bottom: 99.46%;
}

.header-vector12 {
    height: 26.71px;
    position: absolute;
    top: 0.39%;
    bottom: 99.42%;
}

.header-vector13 {
    height: 28.48px;
    position: absolute;
    top: 0.41%;
    bottom: 99.38%;
}

.header-vector14 {
    height: 29.44px;
    position: absolute;
    top: 0.43%;
    bottom: 99.36%;
}

.header-vector15 {
    height: 29.87px;
    position: absolute;
    top: 0.45%;
    bottom: 99.34%;
}

.header-vector16 {
    height: 30.32px;
    position: absolute;
    top: 0.47%;
    bottom: 99.31%;
}

.header-vector17 {
    height: 30.57px;
    position: absolute;
    top: 0.48%;
    bottom: 99.3%;
}

.header-vector18 {
    height: 30.66px;
    position: absolute;
    top: 0.5%;
    bottom: 99.28%;
}

.header-vector19 {
    height: 30.6px;
    position: absolute;
    top: 0.51%;
    bottom: 99.27%;
}

.header-vector20 {
    height: 30.4px;
    position: absolute;
    top: 0.52%;
    bottom: 99.26%;
}

.header-vector21 {
    height: 29.92px;
    position: absolute;
    top: 0.53%;
    bottom: 99.25%;
}

.header-vector22 {
    height: 29.6px;
    position: absolute;
    top: 0.54%;
    bottom: 99.24%;
}

.header-vector23 {
    height: 29.22px;
    position: absolute;
    top: 0.55%;
    bottom: 99.24%;
}

.header-vector24 {
    height: 28.81px;
    position: absolute;
    top: 0.56%;
    bottom: 99.23%;
}

.header-vector25 {
    height: 28.37px;
    position: absolute;
    top: 0.57%;
    bottom: 99.23%;
}

.header-vector26 {
    height: 27.93px;
    position: absolute;
    top: 0.58%;
    bottom: 99.22%;
}

.header-vector27 {
    height: 27.35px;
    position: absolute;
    top: 0.58%;
    bottom: 99.22%;
}

.header-vector28 {
    height: 26.94px;
    position: absolute;
    top: 0.59%;
    bottom: 99.21%;
}

.header-vector29 {
    height: 26.57px;
    position: absolute;
    top: 0.6%;
    bottom: 99.21%;
}

.header-vector30 {
    height: 26.29px;
    position: absolute;
    top: 0.61%;
    bottom: 99.2%;
}

.header-vector31 {
    height: 26.05px;
    position: absolute;
    top: 0.62%;
    bottom: 99.2%;
}

.header-vector32 {
    height: 25.93px;
    position: absolute;
    top: 0.63%;
    bottom: 99.19%;
}

.header-vector33 {
    height: 25.89px;
    position: absolute;
    top: 0.64%;
    bottom: 99.18%;
}

.header-vector34 {
    height: 25.73px;
    position: absolute;
    top: 0.65%;
    bottom: 99.17%;
}

.header-vector35 {
    height: 25.49px;
    position: absolute;
    top: 0.65%;
    bottom: 99.16%;
}

.header-vector36 {
    height: 25.14px;
    position: absolute;
    top: 0.66%;
    bottom: 99.16%;
}

.header-vector37 {
    height: 24.71px;
    position: absolute;
    top: 0.67%;
    bottom: 99.15%;
}

.header-vector38 {
    height: 24.2px;
    position: absolute;
    top: 0.68%;
    bottom: 99.15%;
}

.header-vector39 {
    height: 23.62px;
    position: absolute;
    top: 0.69%;
    bottom: 99.14%;
}

.header-vector40 {
    height: 22.97px;
    position: absolute;
    top: 0.69%;
    bottom: 99.14%;
}

.header-vector41 {
    height: 22.25px;
    position: absolute;
    top: 0.7%;
    bottom: 99.14%;
}

.header-vector42 {
    height: 21.5px;
    position: absolute;
    top: 0.7%;
    bottom: 99.14%;
}

.header-vector43 {
    height: 20.68px;
    position: absolute;
    top: 0.71%;
    bottom: 99.14%;
}

.header-vector44 {
    height: 19.87px;
    position: absolute;
    top: 0.71%;
    bottom: 99.14%;
}

.header-vector45 {
    height: 19px;
    position: absolute;
    top: 0.72%;
    bottom: 99.15%;
}

.header-vector46 {
    height: 18.15px;
    position: absolute;
    top: 0.72%;
    bottom: 99.15%;
}

.header-vector47 {
    height: 17.3px;
    position: absolute;
    top: 0.72%;
    bottom: 99.15%;
}

.header-vector48 {
    height: 16.4px;
    position: absolute;
    top: 0.73%;
    bottom: 99.15%;
}

.header-vector49 {
    height: 15.85px;
    position: absolute;
    top: 0.73%;
    bottom: 99.16%;
}

.header-vector50 {
    height: 15.16px;
    position: absolute;
    top: 0.73%;
    bottom: 99.16%;
}

.header-vector51 {
    height: 14.62px;
    position: absolute;
    top: 0.73%;
    bottom: 99.16%;
}

.header-vector52 {
    height: 14.18px;
    position: absolute;
    top: 0.74%;
    bottom: 99.16%;
}

.header-vector53 {
    height: 13.81px;
    position: absolute;
    top: 0.74%;
    bottom: 99.16%;
}

.header-vector54 {
    height: 13.5px;
    position: absolute;
    top: 0.74%;
    bottom: 99.16%;
}

.header-vector55 {
    height: 13.25px;
    position: absolute;
    top: 0.74%;
    bottom: 99.16%;
}

.header-vector56 {
    height: 13.26px;
    position: absolute;
    top: 0.74%;
    bottom: 99.16%;
}

.header-vector57 {
    height: 13.62px;
    position: absolute;
    top: 0.75%;
    bottom: 99.15%;
}

.header-vector58 {
    height: 13.98px;
    position: absolute;
    top: 0.75%;
    bottom: 99.15%;
}

.header-vector59 {
    height: 14.35px;
    position: absolute;
    top: 0.76%;
    bottom: 99.14%;
}

.header-vector60 {
    height: 14.73px;
    position: absolute;
    top: 0.76%;
    bottom: 99.13%;
}

.header-vector61 {
    height: 15.09px;
    position: absolute;
    top: 0.76%;
    bottom: 99.13%;
}

.header-vector62 {
    height: 15.43px;
    position: absolute;
    top: 0.77%;
    bottom: 99.12%;
}

.header-vector63 {
    height: 15.75px;
    position: absolute;
    top: 0.77%;
    bottom: 99.12%;
}

.header-vector64 {
    height: 16.04px;
    position: absolute;
    top: 0.77%;
    bottom: 99.11%;
}

.header-vector65 {
    height: 16.32px;
    position: absolute;
    top: 0.77%;
    bottom: 99.11%;
}

.header-vector66 {
    height: 16.53px;
    position: absolute;
    top: 0.78%;
    bottom: 99.11%;
}

.header-vector67 {
    height: 16.71px;
    position: absolute;
    top: 0.78%;
    bottom: 99.1%;
}

.header-vector68 {
    height: 16.82px;
    position: absolute;
    top: 0.78%;
    bottom: 99.1%;
}

.header-vector69 {
    height: 16.73px;
    position: absolute;
    top: 0.78%;
    bottom: 99.1%;
}

/* box */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 56px;
    height: 54px;
    left: 36px;
    top: 140px;
}

.box-text {
    left: 2.68%;
    right: 2.68%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}


/* banner title  */
.hero-text {
    position: absolute;
    width: 672px;
    height: 345px;
    top: 203px;
    left: 155px;
}

.location {
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}

.package {
    position: absolute;
    left: 576px;
    top: 115px;
}

.package-img {
    position: relative;
}

.package-1 {}

.package-2 {
    position: absolute;
    left: 0;
    top: 20%;
}

.package-3 {
    position: absolute;
    left: 45%;
    right: 13.62%;
    top: 42%;
}

.package-4 {
    position: absolute;
    left: 20%;
    right: 31.25%;
    top: 8%;
    bottom: 60.83%;
}

/* stepper status */

.stepper-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 4px;
    height: 148px;
    left: 64px;
    top: 360px;
}

.stepper {
    position: relative;
}

.stepper-1 {
    position: absolute;
    height: 20px;
    left: 2px;
    top: 0px;
    margin: 28px 0px;
}

.stepper-2 {
    position: absolute;
    top: 48px;
    margin: 28px 0px;
}

.stepper-3 {
    position: absolute;
    top: 80px;
    margin: 28px 0px;
}

.stepper-4 {
    position: absolute;
    top: 112px;
    margin: 28px 0px;
}

.stepper-5 {
    position: absolute;
    top: 144px;
    margin: 28px 0px;
}

/* explore more button */

.explore-more-button {
    width: 165px;
    height: 60px;
    margin-left: 22px;
    margin-bottom: 27px;
}

.button-text {
    margin-left: 20px;
    margin-top: 44px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}